*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* primeiro exemplo - abaixo sobre grid area
.container{
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 30vh;
    grid-template-rows: auto;
    gap:5px;
       
}

.container div{
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}

*/


/*template area*/

.container{
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    gap:5px;
    grid-template-columns: repeat(4, 1fr); /* pode-se utilizar a propriedade auto-fill e auto-fit (FIT-RESPEITA O GRID AREAS, NO MAXIMO DE COLUNAS*/
    grid-template-rows: 200px;
    gap: .5rem;
    grid-template-areas: 
    'header header header header'
    'sidebar content content content'
    'footer footer footer footer'
   

}

.container div{
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}

#header{
    grid-area: header;
}

#sidebar{
    grid-area: sidebar;
    
}

#content{
    grid-area:content;
  
}

#footer{
    grid-area: footer;
}