*{
    border: 0;
    padding: 0;
    box-sizing: 0;
}

h1{
  width: 110px;
  border: 1px solid gray;
  padding: 10px;

}

table{
    width: 800px;
    border-collapse:collapse;


}

table th, table td{

border: 1px solid gray;
padding: 10px;


}

tfoot td{
    background-color: greenyellow;
}

table{
   
    border-collapse:collapse;

}

table  caption{
    caption-side:top;
    text-align: center;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;

}

.siteresponsive{
    max-width: 100%;
    overflow-x: auto;
}
